header {
  background-image:
    linear-gradient(#26262680 1px, #0000 1px), linear-gradient(90deg, #26262680 1px, #0000 1px);
  background-size: 60px 60px;
}
h1 {
  font-size: 140px;
  font-weight: 900;
  color: oklch(79.5% 0.184 86.047);
}
h2 {
  font-size: 24px;
}
h2 + p {
  margin-bottom: 32px;
  font-size: 18px;
}
.face-icon {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin-bottom: 32px;
  border: 1px solid rgba(249, 115, 22, 0.3);
  background-color: rgba(249, 115, 22, 0.1);
}
.square {
  background-color: oklch(70.5% 0.213 47.604);
  border-radius: 8px;
  width: 20px;
  height: 20px;
  right: -8px;
  top: -8px;
  animation: bounce 1s infinite;
}
.circle {
  background-color: oklch(79.5% 0.184 86.047);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -12px;
  bottom: -4px;
  animation: fade 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.btn-page {
  padding: 16px 32px;
}
.main-btn {
  border: none;
  background: linear-gradient(135deg, rgb(249, 115, 22), rgb(234, 88, 12));
  transition: all 0.3s;
}
.second-btn {
  background-color: transparent;
  border: 1px solid rgb(51, 51, 51);
}
.second-btn:hover {
  border: 1px solid rgba(249, 115, 22, 0.3);
  background-color: rgba(249, 115, 22, 0.1);
  color: oklab(0.71 0.14 0.16) !important;
}
.main-btn:hover {
  transform: translateY(-2px);
}
.header-links a:hover{
    text-decoration: underline !important;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fade {
  50% {
    opacity: 0.5;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 180px;
  }
  h2 {
    font-size: 30px;
  }
}
