.footer{
    padding-block: 64px;
    border-top: 1px solid #262626;
}
.footer-lens{
    cursor: pointer;
}
.footer_stacking{
    width: 44px ;
    height: 44px;
    background-color: oklch(70.5% .213 47.604);
    border-radius: 12px;
    transition: all 0.3s;
}
.footer-lens:hover .footer_stacking{
   transform: scale(1.05);
}
.contact-box{
    width: 40px;
    height: 40px;
    border: 1px solid #262626;
    border-radius: 12px;
    cursor: pointer;
    background-color: #161616;
    transition: all 0.3s;
}
.contact-box:hover{
    color: white;
    background-color: oklch(70.5% .213 47.604);
    border-color: transparent;
    transform: scale(1.1);
}

.footer-line{
    width: 32px;
    height: 2px;
    background: linear-gradient(to right,oklch(70.5% .213 47.604),oklch(79.5% .184 86.047));

}
.footer-link{
    margin-right: -16px;
    cursor: pointer;
    margin-bottom: 8px;
    transition: all 0.3s;
}
.footer-link:hover{
    margin-right: 0;
    color: oklab(0.71 0.14 0.16);
}
.footer-icon{
    opacity: 0;
    transition: all 0.3s;

}

.footer-link:hover .footer-icon{
    opacity: 1;
}
#email{
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 12px 16px;
    width: 100%;
}
input::placeholder{
    color: #737373;
    font-size: 12px;
}
#email:focus{
    border: 2px solid oklch(70.5% .213 47.604) !important;
    outline: none;
    box-shadow: none;
}
.footer-btn{
    padding: 16px 32px;
    background: linear-gradient(135deg, #f97316, #ea580c);
    transition: all 0.3s;
}
.footer-btn:hover{
    transform: translateY(-2px);
}