header {
  background-image:
    linear-gradient(#26262680 1px, #0000 1px), linear-gradient(90deg, #26262680 1px, #0000 1px);
  background-size: 60px 60px;
  padding-block: 80px;
}
.custom-badge {
  padding: 8px 16px;
  border: 1px solid rgba(249, 115, 22, 0.3);
  background-color: rgba(249, 115, 22, 0.1);
}

.dot-1 {
  width: 6px;
  height: 6px;
  background-color: #f97316;
  animation: 2s infinite fade;
}
.dot-2 {
  width: 8px;
  height: 8px;
  background-color: #f97316;
  animation: fade 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}
h1 span {
  color: #fbbf24;
}
.explore-btn {
  padding: 16px 32px;
  background-color: #f97316;
  cursor: pointer;
  transition: all 0.3s;
}
.text-main-color {
  color: #f97316;
}
.explore-btn:hover {
  transform: translateY(-2px);
}
.explore-btn:hover i {
  transform: translateX(-4px);
}
.more-btn {
  padding: 16px 32px;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.3s;
}
.more-btn:hover {
  color: #f97316 !important;
  background-color: rgba(249, 115, 22, 0.1);
  border-color: #f97316;
}
.header-info {
  margin-top: 64px;
  width: 100vw;
}
.info-item {
  border: 1px solid #262626;
  border-radius: 24px;
  background-color: rgba(22, 22, 22, 0.8);
  transition: all 0.3s;
}
.info-item:hover {
  transform: scale(1.05);
}
.fs-30px {
  font-size: 30px;
}
main {
  padding-block: 96px;
}
.section-title {
  font-size: 48px;
}
.show-all {
  padding: 10px 20px;
  background: linear-gradient(to right, oklch(70.5% 0.213 47.604), oklch(64.6% 0.222 41.116));
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.show-all:hover {
  transform: translateY(-2px);
}
.show-all:hover i {
  transform: translateX(-4px);
}
.img-badge {
  padding: 6px 12px;
  top: 16px;
  right: 16px;
  background: linear-gradient(to right, #ff6900, #f0b100);
}
.card-special {
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 32px;
}
.card-special-text {
  padding: 40px;
}
.card-text-badge {
  padding: 4px 12px;
  border: 1px solid rgba(249, 115, 22, 0.3);
  background-color: rgba(249, 115, 22, 0.1);
}
.img-container img {
  transition: all 0.7s ease-out;
}

.card-text-img-container img {
  width: 48px;
  height: 48px;
}
.card-text-dot {
  width: 16px;
  height: 16px;
  background-color: #ff6900;
  border: 2px solid rgb(22, 22, 22);
  left: -4px;
  bottom: -4px;
}
.read-article-btn {
  transition: all 0.3s;
}
.card-special:hover .img-container img {
  transform: scale(1.1);
}
.card-special:hover {
  border-color: #ff69004d;
}
.card-special:hover h2 {
  color: oklab(0.71 0.14 0.16) !important;
}
.card-special:hover .read-article-btn {
  gap: 12px !important;
}
.explore-section {
  padding-block: 96px;
  background-color: #111;
  border-block: 1px solid #262626;
}
.explore-section h2 {
  font-size: 48px;
}

.explore-card {
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.explore-stacking {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(249, 115, 22, 0.3);
  background-color: rgba(249, 115, 22, 0.1);
  border-radius: 12px;
}

.arrow-icon-container {
  width: 32px;
  height: 32px;
  opacity: 0;
  background-color: color-mix(in oklab, #fff 20%, transparent);
}
.explore-card:hover {
  transform: translateY(-4px);
  border-color: #ff69004d;
  background: linear-gradient(to right, #ff6900, #f0b100);
}
.explore-card:hover .arrow-icon-container {
  opacity: 1;
}
.explore-card:hover .explore-stacking {
  background-color: color-mix(in oklab, #fff 20%, transparent);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

.explore-card:hover p{
  color: color-mix(in oklab, var(#fff) 80%, transparent);
}

.recent-section{
    padding-block: 96px;
}
.show-all-aritcles:hover{
    color: #ff8904;
}
.show-all-aritcles:hover i{
    transform: translateX(-4px);
}

.recent-card{
    cursor: pointer;
    border-radius: 24px;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(38, 38, 38);
    transition: all 0.7s ease-out;
}
.recent-img-container{
    height: 208px;
}
.recent-badge{
    padding: 4px 12px;
    right: 16px;
    top: 16px;
    border: 1px solid rgb(51, 51, 51);
}
.recent-dot{
  width: 4px ;
  height: 4px;
  background-color: oklch(43.9% 0 0);
}
.recent-card h3{
  margin-block: 12px ;
  font-size: 20px;
  transition: all 0.3s;
}

.recent-footer{
  margin-top: 20px;
  border-top: 1px solid #262626;
}
.recent-footer-img-container img{
  width: 36px ;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px #262626;
}

.recent-footer-icon{
  width: 32px ;
  height: 32px;
  border: 1px solid rgba(249, 115, 22, 0.3);
  background-color: rgba(249, 115, 22, 0.1);
  transition: all 0.3s ;
}

.recent-img-container img{
  transition: all 0.7s ease-out;
}
.recent-card:hover .recent-img-container img{
  transform: scale(1.1);
}
.recent-card:hover h3{
  color:oklch(70.5% .213 47.604) !important;
}
.recent-card:hover{
  transform: translateY(-4px);
  border-color: #333;
}
.recent-card:hover .recent-footer-icon{
  background-color: oklch(70.5% .213 47.604);
  border: none;
  color: white;
}
.subscribe{
  padding-block: 96px;
  border-top: 1px solid #262626;
}

.subscribe-content{
  padding: 64px;
  background-color: #161616;
  border: 1px solid #262626;
  border-radius: 24px;
  max-width: 896px;
}
.subscribe-icon{
  width: 64px ;
  height: 64px;
  background: linear-gradient(to right, oklch(70.5% .213 47.604),oklch(64.6% .222 41.116));
  border-radius: 16px;
}

.subscribe h2 span{
  color: #fbbf24;
}
.subscribe h2 {
  font-size: 36px;
}

#emailto{
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 16px 20px;
    flex: 1 1 0%;
}
input::placeholder{
    color: #737373;
    font-size: 12px;
}
#emailto:focus{
    border: 2px solid oklch(70.5% .213 47.604) !important;
    outline: none;
    box-shadow: none;
}
.subscribe-btn{
  padding: 16px 32px;
  transition: all 0.3s;
  background: linear-gradient(to right,oklch(70.5% .213 47.604),oklch(64.6% .222 41.116));
  border-radius: 12px;
  border: none;
}

.imgs-container img{
  width: 32px ;
  height: 32px  ;
  border: 2px solid #161616;
  border-radius: 50%;
  margin-right: -8px;
}
.imgs-container:nth-child(1){
  margin-right: 0;
}

.subscribe-dot{
  color: #262626  ;
}


@keyframes fade {
  50% {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .img-container {
    height: 288px;
  }
  .card-special-text {
    height: auto;
  }
}

@media (min-width: 768px) {
  .img-container {
    height: 400px;
  }
  .card-special-text {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .send-mail{
    max-width: 512px;
  }
}
